@model WebMVCDemo.Models.Medlem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medlem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etternavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etternavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilTlf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilTlf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fodselsdato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fodselsdato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentKontintId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentKontintId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Medlem_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
