@model IEnumerable<WebMVCDemo.Models.Medlem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fornavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilTlf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fodselsdato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentKontintId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilTlf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fodselsdato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentKontintId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Medlem_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Medlem_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Medlem_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
